@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    background: #181818;
    font-family: 'roboto',sans-serif;
}
.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 9;
    background: #000;
    padding: 0 2.5px;
    display: flex;
    align-items: center;
}

.logo{
    height: 100%;
}

.join-box{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    margin-left:auto;
}
.join-msg{
    color:#fff;
    text-transform: uppercase;
}

.btn{
    border: 1px solid #fff;
    border-radius: 2px;
    background: none;
    color: #fff;
    height: 35px;
    padding: 0 10px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.join-btn{
    background: #dd0e15;
    border-color: #dd0e15;
}

.main{
position: relative;
margin-top: 60px;
width: 100%;
padding: 40px 2.5vw;
color:#fff
}

.heading{
    text-transform: capitalize;
    font-weight: 900;
    font-size: 50px;
}

.info{
    width: 60%;
    font-size: 28px;
    margin-top: 10px;
}

.movie-list{
    width: 100%;
    height: 250px;
    margin-top: 40px;
    position: relative;
}

.movie-category{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.movie-container{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
/* hiden scrolling */
.movie-container::-webkit-scrollbar{
    display: none;
    /* opacity: 0; */
}

.movie{
    flex:0 0 auto;
    width: 24%;
    height: 200px;
    text-align: center;
    margin-right: 18px;
    cursor: pointer;
    position: relative;
}

.movie img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.movie p{
    text-transform: capitalize;
    height: 20px;
    overflow:hidden;
}

/* //left right and scroll */
.pre-btn,.nxt-btn{
    position: absolute;
    height: 200px;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5vw;
    background: #181818;
    border: none;
    outline:none;
    color: red;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
}

.pre-btn{
    left: -2.5vw;
}

.nxt-btn{
    right: -2.5vw;
}

.pre-btn i,
.nxt-btn i{
    width: 20px;
    height: 20px;
    object-fit: contain;

}

.nxt-btn:hover,
.pre-btn:hover{
    opacity: 1;
}
